{% extends 'paginas/base.html' %}

{% block titulo %}
<title>Perfil - Professor</title>
{% endblock %}

{% block conteudo %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="col-xl-12 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Insira uma nova função</label>
                            </div>                                
                        </div>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="Código Python"></textarea>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <div class="form-group">
                                
                            </div>                                
                        </div>
                                <button type="button" class="btn btn-primary btn-sm">Salvar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}