{% extends 'paginas/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block titulo %}
<title>Projeto ES - Mestrado</title>
{% endblock %}

{% block conteudo %}

<div class="container-fluid">


    <h4 class="text-dark border-bottom my-3">
        Visualização de Testes
    </h4>

    <!-- <br>
    
    <h5 class="">Testando EXEC():</h5>
    
    <br>
    <img src="/uploads/{{ object.imagem.image }}" height="150" alt="">
    
    <br> -->

    <br>
    
    <h5 class="">Imagem Original:</h5>
    <!-- {{ object.imagem.image }} -->
    <br>
    <img src="/uploads/{{ object.imagem.image }}" height="150" alt="">

    <br>

    <h5 class="mt-4">Script aplicado:</h5>
    {{ object.filtro.codigo|escape }}
    <br>

    <hr>

    <h5>Imagem resultante</h5>

    <!-- {{ resultado }}
    <br>   
    <img src="/uploads/{{ object.imagem.resultado }}" height="150" alt=""> -->
    
    <hr>
    {{ resultado_img }}
    <br>
    <img src="{{ resultado_img }}" height="150" alt="">

    
</div>

{% endblock %}